.background {
   background-color: blueviolet;
}

.title {
    color: chartreuse;
}

.underTitle {
    color: palevioletred;
    text-decoration: darkorange;
    border: thin solid red;
    width: 50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}

.introduction {
    color: aquamarine;
}

.paragraph {
    color: green;
}


